///////////////////////////////
div.block.white.first::after {
  display: none;
}
.first .container {
  margin-top: 100px;
}

///////////////////////////////


@gray:#202127;
@white:#ffffff;

body{
  background-color: @gray;
  overflow-x: hidden;
}

*{
	box-sizing: border-box;
}

.heading{
  color:white;
}

.subtitle{
  color:white;
}

.blocks{

  *:first-child > .block-container{
    padding-top: 5%;
    padding-bottom: 5%;

  }
	*:not(:first-child) > .block-container{
    position: relative;
	}
  *:last-child:after{
    display:none;
  }

  *:nth-child(odd){
    &:after{
      background: @white;
    }
  }

  *:nth-child(even){
    &:after{
      background: @gray;
    }
  }

}

.block {
  color: #fff;
  position: relative;
  &-container{
    padding-top: 15%;
    padding-bottom: 15%;
    min-height:400px;
  }
  &:after{
    background: @white;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    // position: absolute;
    position: absolute;
    right: 0;
    transform: skewY(-5.5deg);
    transform-origin: 100%;
    z-index: -1;
  }
  @media screen and (max-width:640px) {
    &:before{
      display:none;
    }
    &:after{
      display:none;
    }
  }
}

.gray{
	background-color:@gray;
	color:white;
}

.white{
	background-color: @white;
	color:black;
}

.first{
  background:transparent;
  position:relative;
	z-index:8;
  // &:before{
  //   content:" ";
  //   width:100%;
  //   height:100%;
  //   position:fixed;
  //   top:0px;
  //   left:0px;
  //   background-image:url('../images/bg2.png');
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   z-index:-20;
  // }
  & .container > img {
    margin-bottom: 30px;
  }
  & .container p {
    margin: 20px 0;
  }
  & .container img {
    margin-top: -5px;
    margin-right: 10px;
  }
}


// .bgg{
//     content:" ";
//     width:100%;
//     height:100%;
//     position:fixed;
//     top:0px;
//     left:0px;
//     background-image:url('../images/bg2.png');
//     background-size: contain;
//     background-repeat: no-repeat;
//     z-index:-20;
// }

.second{
	z-index:7;
}

.third{
	z-index:6;
}

.fourth{
	z-index:5;
}

.fifth{
  z-index:4;
}

.sixth{
  z-index:3;
}

.seventh{
  z-index:2;
}

.eigth{
  z-index:1;
}

// ----------------- ADJUSTMENT
html {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
// .container {width: 70%;}
.centered {text-align: center !important;}
.left {text-align: left !important;}
.pad-bot{
  margin-bottom:50px;
}
.images-center{
  *{
    text-align: center;
    img{
      display:inline-block;
    }
  }

}
.resp-img{
  width:100%;
  img{
    width:100%;
  }
}
.app-img{
  width:85%;
  @media screen and (max-width:1199px) {
    width:100%;
  }
}
.pointer{
  font-size:20px;
  color: #adabab;
}
h1 {
  color: black;
  font-size: 40px;
  font-weight: 400;
}

.title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  &-black {
    color: #000;
  }
  &-white {
    color: #fff;
  }
  &-image > img {
    width: 60%;
  }
}

.mt50 {margin-top: 50px;}

.text {
  font-weight: 400;
  &-gray {
    color: #adabab;
    font-size: 17px;
  }
  &-black {
    color: black;
    font-size: 19px;
  }
}

// ----------------- 1
.navbar img{
  margin-left: 50px;
}
h1 {
  color: black;
  font-size: 40px;
  font-weight: 400;
}
p.subtitle {
  font-size: 16px;
  letter-spacing: 7px;
}
small {
  color: #adabab;
  font-size: 14px;
}
.btn-red {
  display: block;
  width: 275px;
  margin: 50px auto;
  background-color: #f53000;
  color: #fff !important;
  padding: 20px 50px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: none;
}

// ----------------- 2
.grid {
  &-numbers {
    width: 80%;
    display: inline-block;
    margin-bottom: 50px;
  }
  &-speakers {
    margin: 40px 0;
  }
  &-speakers p {
    margin: 10px 0;
  }
}
.p {
  &-title {
    color: #06a09f;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: -5px;
  }
  &-subtitle {
    color: #fffefe;
    font-size: 18px;
    font-weight: 400;
  }
}

// ----------------- 3
.tabs {
  margin-top: 30px;
}

.nav-tabs {
  border: none;
  &>li {
    width: 33%;
    text-align: center;
    border-bottom: 2px solid black;
    &>a,
    &>a:hover {
      border: none;
      background-color: #fff;
    }
    &>a > span {
      display: inline-block;
      color: black;
      font-size: 20px;
      &.span-small {
        font-size: 14px;
      }
    }
    &.active {
      border-bottom: 2px solid red;
      &>a,
      &>a:hover,
      &>a:focus {
        border: none;
      }
    }
  }
}

// .info-tabs > li {
//   &:nth-child(1) > a > span {
//   position: relative;
//   &:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: -33px;
//     width: 28px;
//     height: 28px;
//     background: url('../images/about.png');
//   }
//   }
//   &:nth-child(2) > a > span {
//   position: relative;
//   &:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: -33px;
//     width: 24px;
//     height: 25px;
//     background: url('../images/format.png');
//   }
//   }
//   &:nth-child(3) > a > span {
//   position: relative;
//   &:before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: -53px;
//     width: 45px;
//     height: 23px;
//     background: url('../images/organizators.png');
//   }
//   }
// }

.half-tabs {
  width: 50%;
  margin: 0 auto;
}

.tab-content {
  margin-top: 50px;
  color: black;
  font-size: 19px;
}

.lection {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

// ----------------- 4
.first-speaker-international::before {
  content: 'International';
  position: absolute;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 3px;
  top: 60px;
  left: -80px;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.first-speaker-ukrainian::before {
  content: 'Ukrainian';
  position: absolute;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 3px;
  top: 60px;
  left: -60px;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.first-speaker-workshop::before {
  content: 'Workshop';
  position: absolute;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 3px;
  top: 60px;
  left: -60px;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.ukrainian {content: 'Ukrainian'}
// ----------------- 5
.questions {
  margin-bottom: 50px;
  &>small {
    display: block;
    color: red
  }
}

.footer {
  & > img {
    margin-bottom: -50px;
  }
  &-text {
    line-height: 1.3;
    color: #adabab;
    font-size: 24px;
    font-weight: 400;
  }
}



@media screen and (min-width: 992px) and (max-width: 1199px) {
  .grid-numbers {width: 100%;}
  .half-tabs {width: 70%;}
  .resp-img.app-img > img {width: 70%;}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pointer {
    margin-bottom: 50px;
    text-align: center;
  }
  .resp-img.app-img {
    margin: 30px 0;
    text-align: center;
    & > img {
      width: 60%;
    }
  }
  .app-stores img {
    width: 30%;
    margin-top: -50px;
  }
  .half-tabs {width: 70%;}

  .third .tab-content img {margin: 30px 0;}
  .images-center{
    *{
      text-align: center;
      img{
        display:inline-block;
        width: 100%;
      }
    }

  }
}
// @media screen and (min-width: 320px) and (max-width: 767px) {}
// @media screen and (max-width: 319px) {
//   body {
//     display: none;
//   }
// }
